<!doctype html>
<html lang="en">

<head>
    <title>学生信息显示Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
    img {
        width: 35%;
        height: 35%;
        float: right;
        margin-top: -180px;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-3">班级信息</h1>
            <p class="lead">当前班级：软件1709班</p>
            <img src="img/tiga.jpg" alt="">
            <p class="lead">
                <div class="dropdown show">
                    <a class="btn btn-primary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      选择班级
                                                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">软件1701</a>
                        <a class="dropdown-item" href="#">软件1702</a>
                        <a class="dropdown-item" href="#">软件1703</a>
                        <a class="dropdown-item" href="#">媒体1701</a>
                        <a class="dropdown-item" href="#">媒体1702</a>
                        <a class="dropdown-item" href="#">媒体1703</a>
                    </div>
                </div>
            </p>

        </div>
        <div class="table-responsive-sm" style="margin-top: -32px;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>班级</th>
                        <th>学号</th>
                        <th>民族</th>
                        <th>家庭地址</th>
                        <th>联系电话</th>
                        <th>入学时间</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <th>8</th>
                        <th>9</th>

                    </tr>
                    <tr>
                        <td scope="row">1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <th>8</th>
                        <th>9</th>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>