<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>教师界面</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script th:src="@{/js/vue.js}" type="text/javascript"></script>
    <script th:src="@{/js/axios.js}" type="text/javascript"></script>
    <script th:src="@{/js/fairyDustCursor.js}" type="text/javascript"></script>

</head>
<style>
    #hard {
        color: aliceblue;
        font-size: 100px;
        line-height: 140px;
        text-align: center;
        margin-top: 20px;
        margin-left: 24%;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: blue;
        border: 1px solid pink;
    }
    
    #card_title {
        padding-left: 20px;
    }
    
    #card_img {
        padding-left: 20px;
    }
    
    #gong ul li {
        list-style-type: none;
        padding-left: 20px;
    }
    
    #gong ul li div {
        width: 100px;
        height: 100px;
        float: left;
        /* padding-left: 20px; */
        margin-top: 20px;
        margin-left: 20px;
        border: 1px solid pink;
    }
    
    .card {
        border: 1px solid blue;
    }
    
    #table_k.card {
        text-align: center;
    }
    
    #table_ke {
        margin-left: 100px;
        margin-top: 10px;
        border: 1px solid blue;
        width: 1000px;
        /* background-color: pink; */
        background: rgba(0, 0, 225, 0.1)
    }
    
    #fy {
        margin-top: 30px;
        margin-left: 850px;
    }
    
    #table_kebiao {
        border-radius: 5%;
    }
</style>

<body>
    <h1></h1>
    <div id="app" class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-3">教师管理页面</h1>
            <h2>{{tian.date}}--{{tian.week}}</h2>
            <h2 class="lead">欢迎您 {{teacher.teaName}} 老师</h2>
            <p>{{tian.city}}--{{tian.wea}}--{{tian.air_level}}--{{tian.tem}}℃</p>

        </div>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">老师</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>

        <div class="row">
            <div class="col-lg-3" id="card_img">
                <h1> <span class="badge badge-primary"> 老师信息</span></h1>
                <div class="card" style=" height: 450px;">
                    <div id="hard">{{name}}</div>
                    <div class="card-body">
                        <h5 class="card-title">姓名：{{teacher.teaName}}</h5>
                        <h5 class="card-title">职工号：{{teacher.loginName}}</h5>
                        <h5 class="card-title">所属院系：{{teacher.depId.depName}}</h5>
                        <h5 class="card-title">入职时间：{{teacher.teaDate}}</h5>
                        <h5 class="card-title">授课课程：{{teacher.courseId.courseName}}</h5>
                        <a href="#" class="btn btn-primary">详情信息</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-9" id="card_title">
                <h1> <span class="badge badge-primary"> 功能</span></h1>
                <div id="gong" class="card" style=" height: 450px;">
                    <ul>
                        <li>
                            <div>任课班级信息
                                <a href="/teamag">任课班级信息</a>
                            </div>
                        </li>
                        <li>
                            <div>修改成绩</div>
                        </li>
                        <li>
                            <div><a href="/teaScore">添加成績</a></div>
                        </li>
                        <li>
                            <div>修改密码</div>
                        </li>
                        <li>
                            <div>个人详细信息</div>
                        </li>
                        <li>
                            <div> <a href="/evaluate">查看学生对自己的评价</a> </div>
                        </li>
                        <li>
                            <div><a href="/stuScore">查看任课程成绩</a></div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3" id="card_img">
                <h1> <span class="badge badge-primary"> 老师信息</span></h1>
                <div class="card" style="width:260px; height: 400px;">

                </div>
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-8" id="card_title">
                <h1> <span class="badge badge-primary"> 课表</span></h1>
                <div id="table_k" class="card" style="width:1200px; height: 400px;">

                    <nav id="fy" aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <span class="page-link">上一周</span>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">
                              1
                              <span class="sr-only">(current)</span>
                                </span>
                            </li>
                            <li class="page-item">
                                <a class="page-link">下一周</a>
                            </li>
                        </ul>
                    </nav>

                    <div id="table_ke">
                        <table id="table_kebiao" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">星期一</th>
                                    <th scope="col">星期二</th>
                                    <th scope="col">星期三</th>
                                    <th scope="col">星期四</th>
                                    <th scope="col">星期五</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">上午1、2节</th>
                                    <td>111</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>

                                </tr>
                                <tr>
                                    <th scope="row">上午3、4节</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>@fat</td>

                                </tr>
                                <tr>
                                    <th scope="row">下午1、2节</th>
                                    <td>Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>@fat</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">下午3、4节</th>
                                    <td>Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>@fat</td>
                                    <td>@fat</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>





    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                kongde: {
                    claId: {
                        claName: ""
                    },
                    classRoomId: {
                        classHomeName: ""
                    }
                },
                fiveone: {},
                fivetwo: {},
                fivethree: {},
                fivefour: {},
                teaCou: [],
                time: new Date(),
                timer: "",
                name: "",
                teacher: {},
                tian: {
                    city: "",
                    date: "",
                    week: "",
                    wea: "",
                    air_level: "",
                    tem: ""
                }
            },
            mounted() {
                var req = new XMLHttpRequest();
                req.open('GET', document.location, false);
                req.send(null);
                var token = req.getResponseHeader("token");
                sessionStorage.setItem("token", token);
                console.log(sessionStorage.getItem("token"));

                this.useinfo()
                this.teaCourse()
                this.teaEvaluate()
            },
            methods: {

                useinfo() {
                    axios({
                            method: 'get',
                            url: '/teacher/teaAll',
                            headers: {
                                "token": sessionStorage.getItem("token")
                            }
                        })
                        .then(res => {
                            this.teacher = res.data;
                            this.name = res.data.teaName.slice(0, 1);
                            console.log(this.teacher);

                        })
                        .catch(err => {
                            console.error(err);
                        })
                },
                teaCourse() {
                    axios({
                            method: 'get',
                            url: '/teacher/teacou',
                            headers: {
                                "token": sessionStorage.getItem("token")
                            }
                        })
                        .then(res => {
                            this.teaCou = res.data;
                            console.log(this.teaCou);


                        })
                        .catch(err => {
                            console.error(err);
                        })
                },
                teaEvaluate() {
                    axios({
                            method: 'get',
                            url: '/teacher/teaEva',
                            headers: {
                                "token": sessionStorage.getItem("token")
                            }
                        })
                        .then(res => {
                            console.log(res);


                        })
                        .catch(err => {
                            console.error(err);
                        })
                },

                tianqi: function() {
                    axios.get("https://tianqiapi.com/api?version=v6&appid=95422873&appsecret=tP2m5YyV")
                        .then(res => {
                            this.tian.city = res.data.city
                            this.tian.date = res.data.date
                            this.tian.week = res.data.week
                            this.tian.air_level = res.data.air_level
                            this.tian.tem = res.data.tem
                            this.tian.wea = res.data.wea
                            console.log(this.tian)

                        })
                        .catch(err => {
                            console.error(err);
                        })
                }

            },
            created() {
                var _this = this;
                this.timer = setInterval(function() {
                        _this.time = new Date();
                    }, 1000),

                    this.tianqi()


            },
            beforeDestory() {
                if (this.timer) {
                    clearInterval(this.timer)
                }
            }
        })
    </script>

    <script src="js/fairyDustCursor.js" type="text/javascript"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>